.Skills h1 {
    color: #05092e;
    font-family: 'sans-serif';
    font-size: 55px;
    margin-top: 0px;
    font-weight: 400;
}

.Skills .subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color:#303030
}

.skill img.logo {
    width: 3rem;
}

.skill {
    width: 12rem;
    background-color: rgb(249 250 251);
    margin: 1em;
}
@media only screen and (max-width: 600px) {
    .Skills {
       padding: 4px;
       text-align: center;
    }
    .Skills .skills-container{
        justify-content: center;
     }
     .Skills .subtitle{
        font-size: 1em;
     }
  }
